/* reset */
* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
img {
    vertical-align: top;
    border: 0;
}
body {
    color: #333333;
}

/* 레이아웃 */
.wrap {
    width: 1920px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 800px;
    position: relative;
    z-index: 10;
}
header .header_box {
    width: 1920px;
    height: 800px;
}
header .header_box .leaf_img {
    position: absolute;
    width: 1920px;
    height: 800px;
    background-color: #356254;
}
header .header_box ul.green_img {
    position: absolute;
    width: 944px;
    height: 800px;
    background-color: #356254;
}
header .header_box ul.green_img p {
    font-size: 130px;
    color: #fff;
    font-family: 'Baumans', normal;
    padding-left: 380px;
    padding-top: 590px;
}
header .header_box h1 {
    float: left;
    width: 65px;
    height: 64px;
}
header .header_box h1 img {
    position: absolute;
    left: 72px;
    top: 12px;
    width: 65px;
    height: 64px;
}
header .header_box h1 img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
header nav {
    float: right;
    width: 830px;
    padding-top: 29px;
    padding-right: 406px;
}
header .header_box ul.gnb {
    width: 100%;
    text-align: center;
}
header .header_box ul.gnb>li {
    float: left;
    width: 10%;
    position: relative;
    padding-right: 50px;
}
header .header_box ul.gnb>li>a {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    color: #fff;
    box-sizing: border-box;
    border-left: 0;
}
header .header_box ul.gnb>li:hover>a {
    font-size: 17px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #fff;
}
.personal_br {
    width: 100%;
    height: 320px;
    background-color: #fff; 
}
.personal_br h2 {
    float: left;
    width: 217px;
    height: 35px;
    padding-left: 412px;
    padding-top: 138px;
    font-size: 24px;
}
.personal_br ul.personal_txt {
    float: left;
    width: 560px;
    height: 92px;
    padding-left: 221px;
    padding-top: 114px;
}
.personal_br ul.personal_txt li {
    float: right;
    position: relative;
}
.personal_br ul.personal_txt li a {
    display: block;
    width: 100%;
    height: 35px;
    font-size: 16px;
}
.research {
    width: 100%;
    height: 800px;
    background-color: rgba(229, 240, 224, 0.6);
    position: relative;
}
.research h2 {
    float: left;
    width: 108px;
    height: 35px;
    padding-left: 412px;
    padding-top: 124px;
    font-size: 24px;
    font-weight: bold;
}
.research ul.research_txt {
    float: left;
    width: 619px;
    height: 46px;
    padding-left: 330px;
    padding-top: 129px;
}
.research ul.research_txt li {
    float: right;
    position: relative;
}
.research ul.research_txt li a {
    display: block;
    width: 100%;
    height: 35px;
    font-size: 16px;
}
.research .positive_box {
    position: absolute;
    left: 430px;
    top: 297px;
    float: left;
    width: 250px;
    height: 300px;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(192, 201, 187, 0.6);
}
.research .positive_box h3 {
    padding-top: 34px;
    text-align: center;
    font-weight: bold;
    color: #288247;
}
.research .positive_box hr {
    position: absolute;
    left: 25px;
    top: 75px;
}
.research .positive_box ul.positive_txt {
    position: absolute;
    left: 68px;
    top: 80px;
}
.research .positive_box ul.positive_txt li {
    text-align: center;
    font-weight: bold;
    color: #288247;
}
.research .positive_box ul.positive_txt2 {
    position: absolute;
    left: 35px;
    top: 195px;
    text-align: center;
}
.research .positive_box ul.positive_txt2 li {
    width: 183px;
    height: 66px;
    font-size: 15px;
    font-weight: normal;
    color: #000;
}
.research .flux_box {
    position: absolute;
    left: 835px;
    top: 297px;
    float: left;
    width: 250px;
    height: 300px;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(192, 201, 187, 0.6);
}
.research .flux_box h3 {
    padding-top: 34px;
    text-align: center;
    font-weight: bold;
    color: #288247;
}
.research .flux_box hr {
    position: absolute;
    left: 25px;
    top: 75px;
}
.research .flux_box ul.flux_txt {
    position: absolute;
    left: 75px;
    top: 80px;
}
.research .flux_box ul.flux_txt li {
    text-align: center;
    font-weight: bold;
    color: #288247;
}
.research .flux_box ul.flux_txt2 {
    position: absolute;
    left: 35px;
    top: 195px;
    text-align: center;
}
.research .flux_box ul.flux_txt2 li {
    width: 183px;
    height: 66px;
    font-size: 15px;
    font-weight: normal;
    color: #000;
}
.research .smooth_box {
    position: absolute;
    left: 1240px;
    top: 297px;
    float: left;
    width: 250px;
    height: 300px;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(192, 201, 187, 0.6);
}
.research .smooth_box h3 {
    padding-top: 34px;
    text-align: center;
    font-weight: bold;
    color: #288247;
}
.research .smooth_box hr {
    position: absolute;
    left: 25px;
    top: 75px;
}
.research .smooth_box ul.smooth_txt {
    position: absolute;
    left: 85px;
    top: 80px;
}
.research .smooth_box ul.smooth_txt li {
    text-align: center;
    font-weight: bold;
    color: #288247;
}
.research .smooth_box ul.smooth_txt2 {
    position: absolute;
    left: 35px;
    top: 195px;
    text-align: center;
}
.research .smooth_box ul.smooth_txt2 li {
    width: 183px;
    height: 66px;
    font-size: 15px;
    font-weight: normal;
    color: #000;
}

.brand_concept {
    width: 100%;
    height: 800px;
    position: relative;
}
.brand_concept h2 {
    float: left;
    width: 174px;
    height: 35px;
    padding-left: 418px;
    padding-top: 80px;
    font-size: 24px;
    font-weight: bold;
}
.brand_concept ul.brandcc_txt {
    float: left;
    width: 610px;
    height: 46px;
    padding-left: 264px;
    padding-top: 85px;
}
.brand_concept ul.brandcc_txt li {
    float: right;
    position: relative;
}
.brand_concept ul.brandcc_txt li a {
    display: block;
    width: 100%;
    height: 46px;
    font-size: 16px;
}
.brand_concept .cando_cir {
    position: absolute;
    left: 560px;
    top: 234px;
    width: 255px;
    height: 255px;
    line-height: 125px;
    border-radius: 50%;
    border: 1px solid rgba(58, 102, 75, 0.6);
}
.brand_concept .cando_cir ul.cando1_txt {
    position: absolute;
    left: 60px;
    top: 67px;
}
.brand_concept .cando_cir ul.cando1_txt li {
    width: 130px;
    line-height: 67px;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: medium;
}
.brand_concept .cando_cir ul.cando2_txt {
    position: absolute;
    left: 63px;
    top: 93px;
}
.brand_concept .cando_cir ul.cando2_txt li {
    width: 128px;
    line-height: 93px;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: normal;
}
.brand_concept .cando_cir ul.cando3_txt {
    position: absolute;
    left: 99px;
    top: 115px;
}
.brand_concept .cando_cir ul.cando3_txt li {
    width: 55px;
    line-height: 115px;
    text-align: center;
    color: #2D4D39;
    font-size: 16px;
    font-weight: normal;
}

.brand_concept .seona_cir {
    position: absolute;
    left: 418px;
    top: 462px;
    width: 255px;
    height: 255px;
    border-radius: 50%;
    border: 1px solid rgba(58, 102, 75, 0.6);
    line-height: 255px;
}
.brand_concept .seona_cir ul.cando1_txt {
    position: absolute;
    left: 61px;
    top: 64px;
}
.brand_concept .seona_cir ul.cando1_txt li {
    width: 130px;
    line-height: 64px;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: medium;
}
.brand_concept .seona_cir ul.cando2_txt {
    position: absolute;
    left: 61px;
    top: 90px;
}
.brand_concept .seona_cir ul.cando2_txt li {
    width: 128px;
    line-height: 90px;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: normal;
}
.brand_concept .seona_cir ul.cando3_txt {
    position: absolute;
    left: 98px;
    top: 112px;
}
.brand_concept .seona_cir ul.cando3_txt li {
    width: 55px;
    line-height: 112px;
    text-align: center;
    color: #2D4D39;
    font-size: 16px;
    font-weight: normal;
}
.brand_concept .acheive_cir {
    position: absolute;
    left: 701px;
    top: 462px;
    width: 255px;
    height: 255px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgba(58, 102, 75, 0.6);
}
.brand_concept .acheive_cir ul.cando1_txt {
    position: absolute;
    left: 33px;
    top: 67px;
}
.brand_concept .acheive_cir ul.cando1_txt li {
    width: 190px;
    line-height: 67px;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: medium;
}
.brand_concept .acheive_cir ul.cando2_txt {
    position: absolute;
    left: 38px;
    top: 93px;
}
.brand_concept .acheive_cir ul.cando2_txt li {
    width: 180px;
    line-height: 93px;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: normal;
}
.brand_concept .acheive_cir ul.cando3_txt {
    position: absolute;
    left: 98px;
    top: 115px;
}
.brand_concept .acheive_cir ul.cando3_txt li {
    width: 55px;
    line-height: 115px;
    text-align: center;
    color: #2D4D39;
    font-size: 16px;
    font-weight: normal;
}
.brand_concept .equal {
    padding-left: 1070px;
    padding-top: 415px;
}
.brand_concept .equal li {
    font-size: 70px;
    color: #2D4D39;
}
.brand_concept .three_cir {
    position: absolute;
    left: 1255px;
    top: 334px;
    width: 255px;
    height: 255px;
    background-color: #3A664B;
    border-radius: 50%;
    /* border: 1px solid rgba(58, 102, 75, 0.6); */
}
.brand_concept .three_cir ul.cando1_txt {
    position: absolute;
    left: 33px;
    top: 74px;
}
.brand_concept .three_cir ul.cando1_txt li {
    width: 190px;
    line-height: 74px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: medium;
}
.brand_concept .three_cir ul.cando2_txt {
    position: absolute;
    left: 38px;
    top: 100px;
}
.brand_concept .three_cir ul.cando2_txt li {
    width: 180px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}
.brand_logo {
    width: 100%;
    height: 480px;
    background-color: rgba(195, 211, 187, 0.6);
    position: relative;
}
.brand_logo h2 {
    float: left;
    width: 134px;
    height: 35px;
    padding-left: 418px;
    padding-top: 80px;
    font-size: 24px;
    font-weight: bold;
}
.brand_logo ul.bl_txt {
    float: left;
    width: 549px;
    height: 69px;
    padding-left: 304px;
    padding-top: 88px;
}
.brand_logo ul.bl_txt li {
    float: right;
    position: relative;
}
.brand_logo ul.bl_txt li a {
    display: block;
    width: 100%;
    height: 69px;
    font-size: 16px;
}
.brand_logo .brandlg_box {
    position: absolute;
    left: 475px;
    top: 213px;
    float: left;
    width: 895px;
    height: 203px;
    background-color: rgba(195, 211, 187, 0.6);
    box-shadow: 3px 3px 3px #9DAB97;
}
.brand_logo .brandlg_box ul.logo1 {
    position: absolute;
    left: 66px;
    top: 31px;
}
.brand_logo .brandlg_box .plus {
    position: absolute;
    left: 189px;
    top: 55px;
}
.brand_logo .brandlg_box .plus li {
    font-size: 55px;
}
.brand_logo .brandlg_box ul.logo2 {
    position: absolute;
    left: 267px;
    top: 28px;
}
.brand_logo .brandlg_box .plus2 {
    position: absolute;
    left: 400px;
    top: 54px;
}
.brand_logo .brandlg_box .plus2 li {
    font-size: 55px;
}
.brand_logo .brandlg_box ul.logo3 {
    position: absolute;
    left: 472px;
    top: 35px;
}
.brand_logo .brandlg_box .equal {
    position: absolute;
    left: 640px;
    top: 54px;
}
.brand_logo .brandlg_box .equal li {
    font-size: 55px;
}
.brand_logo .brandlg_box ul.logo4 {
    position: absolute;
    left: 711px;
    top: 23px;
}
.brand_color {
    width: 100%;
    height: 800px;
    background-color: rgba(195, 211, 187, 0.6);
    position: relative;
}
.brand_color h2 {
    float: left;
    width: 141px;
    height: 35px;
    padding-left: 418px;
    padding-top: 85px;
    font-size: 24px;
    font-weight: bold;
}
.brand_color ul.bc_txt {
    float: left;
    width: 590px;
    height: 69px;
    padding-left: 297px;
    padding-top: 85px;
}
.brand_color ul.bc_txt li {
    float: right;
    position: relative;
}
.brand_color ul.bc_txt li a {
    display: block;
    width: 100%;
    height: 69px;
    font-size: 16px;
}
.brand_color #dark_cir {
    position: absolute;
    left: 442px;
    top: 250px;
    width: 450px;
    height: 450px;
    background-color: #27483E;
    border-radius: 225px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 450px;
}
/* .brand_color p {
    width: 44px;
    height: 44px;
} */
.brand_color .plus {
    position: absolute;
    left: 939px;
    top: 433px;
}
.brand_color .plus li {
    font-size: 55px;
}
.brand_color #light_cir {
    position: absolute;
    left: 1027px;
    top: 250px;
    width: 450px;
    height: 450px;
    background-color: #A4BC97;
    border-radius: 225px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 450px;
}
.logo_system {
    width: 100%;
    height: 560px;
    position: relative;
}
.logo_system .logo1_cero {
    position: absolute;
    left: 865px;
    top: 81px;
    height: 398px;
    border-width: 0;
    width: .5vw;
}
.logo_system .logo2_cero {
    position: absolute;
    left: 891px;
    top: 81px;
    height: 398px;
    border-width: 0;
    width: .5vw;
}
.logo_system .logo3_cero {
    position: absolute;
    left: 947px;
    top: 81px;
    height: 398px;
    border-width: 0;
    width: .5vw;
}
.logo_system .logo4_cero {
    position: absolute;
    left: 1004px;
    top: 81px;
    height: 398px;
    border-width: 0;
    width: .5vw;
}
.logo_system .logo5_cero {
    position: absolute;
    left: 1055px;
    top: 81px;
    height: 398px;
    border-width: 0;
    width: .5vw;
}
.logo_system .logo1_hr {
    position: absolute;
    left: 754px;
    top: 196px;
}
.logo_system .logo2_hr {
    position: absolute;
    left: 754px;
    top: 281px;
}
.logo_system .logo3_hr {
    position: absolute;
    left: 754px;
    top: 368px;
}
.logo_system .logo1 {
    position: absolute;
    left: 892px;
    top: 201px;
    z-index: 5;
}
.logo_system .logo1 img {
    width: 104px;
    height: 163px;
}
.logo_system .logo2 {
    position: absolute;
    left: 891px;
    top: 199px;
    z-index: 3;
}
.logo_system .logo2 img {
    width: 112px;
    height: 182px;
}
.logo_system .logo3 {
    position: absolute;
    left: 870px;
    top: 180px;
    z-index: 8;
}
.logo_system .logo3 img {
    width: 214px;
    height: 205px;
}
.about_more {
    width: 100%;
    height: 240px;
    position: relative;
}
.about_more li {
    float: left;
    padding-left: 905px;
    padding-top: 71px;
    font-size: 24px;
    font-weight: medium;
    color: #A4BC97;
}
.about_more li p {
    position: absolute;
    left: 875px;
    font-size: 48px;
    font-weight: bold;
    color: #000;
}
